.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    right:10px;
    width: 35px;
    height: 35px;
    
}

.button:hover{
    background-color: green;
}

.img{
    height: 80%;
    width: 80%;
}
